:root {
	--wall: rgba(120, 120, 120, 1);
	--building_edifice: rgba(180, 120, 120, 1);
	--sky: rgba(6, 230, 230, 1);
	--floor_flooring: rgba(80, 50, 50, 1);
	--tree: rgba(4, 200, 3, 1);
	--ceiling: rgba(120, 120, 80, 1);
	--road_route: rgba(140, 140, 140, 1);
	--bed: rgba(204, 5, 255, 1);
	--windowpane_window: rgba(230, 230, 230, 1);
	--grass: rgba(4, 250, 7, 1);
	--cabinet: rgba(224, 5, 255, 1);
	--sidewalk_pavement: rgba(235, 255, 7, 1);
	--person_individual_someone_somebody_mortal_soul: rgba(150, 5, 61, 1);
	--earth_ground: rgba(120, 120, 70, 1);
	--door_double_door: rgba(8, 255, 51, 1);
	--table: rgba(255, 6, 82, 1);
	--mountain_mount: rgba(143, 255, 140, 1);
	--plant_flora_plant_life: rgba(204, 255, 4, 1);
	--curtain_drape_drapery_mantle_pall: rgba(255, 51, 7, 1);
	--chair: rgba(204, 70, 3, 1);
	--car_auto_automobile_machine_motorcar: rgba(0, 102, 200, 1);
	--water: rgba(61, 230, 250, 1);
	--painting_picture: rgba(255, 6, 51, 1);
	--sofa_couch_lounge: rgba(11, 102, 255, 1);
	--shelf: rgba(255, 7, 71, 1);
	--house: rgba(255, 9, 224, 1);
	--sea: rgba(9, 7, 230, 1);
	--mirror: rgba(220, 220, 220, 1);
	--rug_carpet_carpeting: rgba(255, 9, 92, 1);
	--field: rgba(112, 9, 255, 1);
	--armchair: rgba(8, 255, 214, 1);
	--seat: rgba(7, 255, 224, 1);
	--fence_fencing: rgba(255, 184, 6, 1);
	--desk: rgba(10, 255, 71, 1);
	--rock_stone: rgba(255, 41, 10, 1);
	--wardrobe_closet_press: rgba(7, 255, 255, 1);
	--lamp: rgba(224, 255, 8, 1);
	--bathtub_bathing_tub_bath_tub: rgba(102, 8, 255, 1);
	--railing_rail: rgba(255, 61, 6, 1);
	--cushion: rgba(255, 194, 7, 1);
	--base_pedestal_stand: rgba(255, 122, 8, 1);
	--box: rgba(0, 255, 20, 1);
	--column_pillar: rgba(255, 8, 41, 1);
	--signboard_sign: rgba(255, 5, 153, 1);
	--chest_of_drawers_chest_bureau_dresser: rgba(6, 51, 255, 1);
	--counter: rgba(235, 12, 255, 1);
	--sand: rgba(160, 150, 20, 1);
	--sink: rgba(0, 163, 255, 1);
	--skyscraper: rgba(140, 140, 140, 1);
	--fireplace_hearth_open_fireplace: rgba(250, 10, 15, 1);
	--refrigerator_icebox: rgba(20, 255, 0, 1);
	--grandstand_covered_stand: rgba(31, 255, 0, 1);
	--path: rgba(255, 31, 0, 1);
	--stairs_steps: rgba(255, 224, 0, 1);
	--runway: rgba(153, 255, 0, 1);
	--case_display_case_showcase_vitrine: rgba(0, 0, 255, 1);
	--pool_table_billiard_table_snooker_table: rgba(255, 71, 0, 1);
	--pillow: rgba(0, 235, 255, 1);
	--screen_door_screen: rgba(0, 173, 255, 1);
	--stairway_staircase: rgba(31, 0, 255, 1);
	--river: rgba(11, 200, 200, 1);
	--bridge_span: rgba(255, 82, 0, 1);
	--bookcase: rgba(0, 255, 245, 1);
	--blind_screen: rgba(0, 61, 255, 1);
	--coffee_table_cocktail_table: rgba(0, 255, 112, 1);
	--toilet_can_commode_crapper_pot_potty_stool_throne: rgba(0, 255, 133, 1);
	--flower: rgba(255, 0, 0, 1);
	--book: rgba(255, 163, 0, 1);
	--hill: rgba(255, 102, 0, 1);
	--bench: rgba(194, 255, 0, 1);
	--countertop: rgba(0, 143, 255, 1);
	--stove_kitchen_stove_range_kitchen_range_cooking_stove: rgba(51, 255, 0, 1);
	--palm_palm_tree: rgba(0, 82, 255, 1);
	--kitchen_island: rgba(0, 255, 41, 1);
	--computer_computing_machine_computing_device_data_processor_electronic_computer_information_processing_system: rgba(0, 255, 173, 1);
	--swivel_chair: rgba(10, 0, 255, 1);
	--boat: rgba(173, 255, 0, 1);
	--bar: rgba(0, 255, 153, 1);
	--arcade_machine: rgba(255, 92, 0, 1);
	--hovel_hut_hutch_shack_shanty: rgba(255, 0, 255, 1);
	--bus_autobus_coach_charabanc_double-decker_jitney_motorbus_motorcoach_omnibus_passenger_vehicle: rgba(255, 0, 245, 1);
	--towel: rgba(255, 0, 102, 1);
	--light_light_source: rgba(255, 173, 0, 1);
	--truck_motortruck: rgba(255, 0, 20, 1);
	--tower: rgba(255, 184, 184, 1);
	--chandelier_pendant_pendent: rgba(0, 31, 255, 1);
	--awning_sunshade_sunblind: rgba(0, 255, 61, 1);
	--streetlight_street_lamp: rgba(0, 71, 255, 1);
	--booth_cubicle_stall_kiosk: rgba(255, 0, 204, 1);
	--television_television_receiver_television_set_tv_tv_set_idiot_box_boob_tube_telly_goggle_box: rgba(0, 255, 194, 1);
	--airplane_aeroplane_plane: rgba(0, 255, 82, 1);
	--dirt_track: rgba(0, 10, 255, 1);
	--apparel_wearing_apparel_dress_clothes: rgba(0, 112, 255, 1);
	--pole: rgba(51, 0, 255, 1);
	--land_ground_soil: rgba(0, 194, 255, 1);
	--bannister_banister_balustrade_balusters_handrail: rgba(0, 122, 255, 1);
	--escalator_moving_staircase_moving_stairway: rgba(0, 255, 163, 1);
	--ottoman_pouf_pouffe_puff_hassock: rgba(255, 153, 0, 1);
	--bottle: rgba(0, 255, 10, 1);
	--buffet_counter_sideboard: rgba(255, 112, 0, 1);
	--poster_posting_placard_notice_bill_card: rgba(143, 255, 0, 1);
	--stage: rgba(82, 0, 255, 1);
	--van: rgba(163, 255, 0, 1);
	--ship: rgba(255, 235, 0, 1);
	--fountain: rgba(8, 184, 170, 1);
	--conveyer_belt_conveyor_belt_conveyer_conveyor_transporter: rgba(133, 0, 255, 1);
	--canopy: rgba(0, 255, 92, 1);
	--washer_automatic_washer_washing_machine: rgba(184, 0, 255, 1);
	--plaything_toy: rgba(255, 0, 31, 1);
	--swimming_pool_swimming_bath_natatorium: rgba(0, 184, 255, 1);
	--stool: rgba(0, 214, 255, 1);
	--barrel_cask: rgba(255, 0, 112, 1);
	--basket_handbasket: rgba(92, 255, 0, 1);
	--waterfall_falls: rgba(0, 224, 255, 1);
	--tent_collapsible_shelter: rgba(112, 224, 255, 1);
	--bag: rgba(70, 184, 160, 1);
	--minibike_motorbike: rgba(163, 0, 255, 1);
	--cradle: rgba(153, 0, 255, 1);
	--oven: rgba(71, 255, 0, 1);
	--ball: rgba(255, 0, 163, 1);
	--food_solid_food: rgba(255, 204, 0, 1);
	--step_stair: rgba(255, 0, 143, 1);
	--tank_storage_tank: rgba(0, 255, 235, 1);
	--trade_name_brand_name_brand_marque: rgba(133, 255, 0, 1);
	--microwave_microwave_oven: rgba(255, 0, 235, 1);
	--pot_flowerpot: rgba(245, 0, 255, 1);
	--animal_animate_being_beast_brute_creature_fauna: rgba(255, 0, 122, 1);
	--bicycle_bike_wheel_cycle: rgba(255, 245, 0, 1);
	--lake: rgba(10, 190, 212, 1);
	--dishwasher_dish_washer_dishwashing_machine: rgba(214, 255, 0, 1);
	--screen_silver_screen_projection_screen: rgba(0, 204, 255, 1);
	--blanket_cover: rgba(20, 0, 255, 1);
	--sculpture: rgba(255, 255, 0, 1);
	--hood_exhaust_hood: rgba(0, 153, 255, 1);
	--sconce: rgba(0, 41, 255, 1);
	--vase: rgba(0, 255, 204, 1);
	--traffic_light_traffic_signal_stoplight: rgba(41, 0, 255, 1);
	--tray: rgba(41, 255, 0, 1);
	--ashcan_trash_can_garbage_can_wastebin_ash_bin_ash-bin_ashbin_dustbin_trash_barrel_trash_bin: rgba(173, 0, 255, 1);
	--fan: rgba(0, 245, 255, 1);
	--pier_wharf_wharfage_dock: rgba(71, 0, 255, 1);
	--crt_screen: rgba(122, 0, 255, 1);
	--plate: rgba(0, 255, 184, 1);
	--monitor_monitoring_device: rgba(0, 92, 255, 1);
	--bulletin_board_notice_board: rgba(184, 255, 0, 1);
	--shower: rgba(0, 133, 255, 1);
	--radiator: rgba(255, 214, 0, 1);
	--glass_drinking_glass: rgba(25, 194, 194, 1);
	--clock: rgba(102, 255, 0, 1);
	--flag: rgba(92, 0, 255, 1);
}